@inherits ViewBaseComponent<CreateUserViewModel>

<MatDialog @bind-IsOpen="@ViewModel.IsOpen">
  <MatDialogTitle>Add new TwitterUser</MatDialogTitle>
  <MatDialogContent>
    <p>
      <MatTextField Icon="person" @bind-Value="@ViewModel.Handle" Dense="true" Label="Handle"></MatTextField>
    </p>
    <p>
      <MatTextField Icon="language" @bind-Value="@ViewModel.Language" Dense="true" Label="Language"></MatTextField>
    </p>
    <p>
      <MatTextField Icon="keyboard_voice" @bind-Value="@ViewModel.VoiceName" Dense="true" Label="VoiceName"></MatTextField>
    </p>
  </MatDialogContent>
  <MatDialogActions>
    <MatButton OnClick="@ViewModel.CancelClick">Cancel</MatButton>
    <MatButton OnClick="@ViewModel.OkClick">Add</MatButton>
  </MatDialogActions>
</MatDialog>

@code {

}
